{% extends 'site/index.html' %}
{% load static %}
{% block title %}
<title>Meu Carrinho</title>
{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h3>Meu Carrinho</h3>
</div>
<div class="d-flex justify-content-center">
{% if items %}
  {% for item in items %}
    <div class="col-xl-3 col-md-6 col-sm-12 d-flex justify-content-center py-2">
      <div class="card" style="width: 18rem;">
        <img src="{{ item.product.path.url }}" class="card-img-top" alt="{{ item.product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.product.name }}</h5>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>Seu carrinho está vazio.</p>
{% endif %}
</div>
{% include 'partials/_footer.html' %}
{% endblock %}
{% extends 'site/index.html' %}
{% load static %}
{% block title %}
<title>Meu Carrinho</title>
{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h3>Meu Carrinho</h3>
</div>
<div class="d-flex justify-content-center">
{% if items %}
  {% for item in items %}
    <div class="col-xl-3 col-md-6 col-sm-12 d-flex justify-content-center py-2">
      <div class="card" style="width: 18rem;">
        <img src="{{ item.product.path.url }}" class="card-img-top" alt="{{ item.product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.product.name }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-medium text-success">Preço: R$ {{ item.product.price }}</li>
            <li class="list-group-item">Quantidade: {{ item.quantity }}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>Seu carrinho está vazio.</p>
{% endif %}
</div>
{% include 'partials/_footer.html' %}
{% endblock %}
