{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>GameCatalog</title>
{% endblock %}


{% block content %}
{% include "partials/_alerts.html"%}
    

  <!--Header Inicio-->
  {% include 'partials/_header.html' %}
  <!--Header Fim-->
  <!--Main Inicio-->  
    <main>
       
      <section class="px-2 sect-az py-1">
        <div class="promo ">
            <h2 class="d-flex justify-content-center robot py-4">Produtos</h2>
        </div>
        <div class="d-flex pt-3 sect-az justify-content-center">
          <div class="row" id="m" style="justify-content: space-between" >

            {% include 'partials/_card.html' %}
            {% include 'partials/_details.html' %}
                
          </div>      
        </div>        
      </section>
                           
      <div class="promo pt-2"><br></div>
      <!--Section5 Inicio-->
        <section> 
          <div class="promo">
              <h2 class="d-flex justify-content-center robot py-4">Fale Com Nós</h2>
          </div>
          <div class="px-5">
            <div class="my-5 row">
              <label for="inputPassword" class="col-sm-2 robot col-form-label"><h4 class="fs-2"> Email:</h4></label>
              <div class="col-sm-10">
                <input type="Text" placeholder="Nome@Exemplo" class="form-control" id="Text">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-2 robot col-form-label"><h4 class="fs-2"> Mensagem:</h4></label>
              <div class="col-sm-10">
                <textarea class="form-control robot" placeholder="Texto" id="exampleFormControlTextarea1" rows="3" style="height: 119px;"></textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-success robot">Enviar</button>
            </div>
          </div>
      </section>
  <!--Section5 Fim--> 
    </main>
  <!--Main Fim-->
  <!--Footer Inicio-->
  {% include 'partials/_footer.html' %}
    
  <!--Footer Fim-->  
{% endblock %}
