{% load static %}
<header class="p-3 mb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">
        <img src="{% static 'assets/img/ncatalogo.png' %}" alt="Logo" height="90px" width="90px" >
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          
          <li><a href="#" class="nav-link px-2 fw-bold fs-5 link-dark text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></li>
          <li><a href="#" class="nav-link px-2 fw-bold fs-5 link-dark text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Produtos</font></font></a></li>
          <li><a href="#" class="nav-link px-2 fw-bold fs-5 link-dark text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre Nós</font></font></a></li>
          
        </ul> 
        <form class="d-flex col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Ex: Short" aria-label="Search">
          <button class="btn btn-danger robot" type="submit">Pesquisar</button>
        </form>
        <div class="d-flex" style="align-items: center;">

          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="nav-link px-2 fw-bold fs-5 link-dark text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><img src="{% static './assets/img/port.png' %}" height="35px" width="35px" alt=""></a>          
          {% else %}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Login
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title robot fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="form-signin" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
            
                    <img class="mb-4" src="{% static 'assets/img/ncatalogo.png' %}" alt="Logo" width="150" height="150">
                    <h1 class="h3 mb-3 font-weight-normal">Conecte-se, Por Favor</h1>
                    <label for="inputUsername" class="sr-only robot">Username</label>
                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Nome do usuario"  autofocus="">
                    <label for="inputPassword" class="sr-only robot">Senha</label>
                    <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" >
                    <div class="checkbox mb-3">
                        <label>
                        <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-danger robot btn-block" type="submit" href="">Logar</button>
                    <button class="btn btn-lg btn-success robot btn-block" type="submit" name="cadastro" href="{% url 'register' %}">Registrar</button>
                    <p class="mt-5 mb-3 robot text-muted">© 2020-2024</p>
                    </form>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    </div>
</header>